*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	list-style: none;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Arial;
		color: #000;
}

.center-content{
	max-width: 980px;
	min-width: 320px;
	margin: 0 auto;
}

/* header */
header{
	padding: 32px 0;
}
header img{
	width: 170px;
	float: left;

}

header ul{
	width: 500px;
	float: right;
	margin-top: 30px;
	
}

header ul a:hover{color: #89ac0f;}

header ul li{
	display: inline-block;
	font-weight: bold;
	color: #98bf11;
	width: 105px;
}

/* section 1 */
#section-01{
	margin-top: 40px;
	text-align: center;
	color: #fff;
	background: #959595;
	padding: 100px 0;
}

#section-01 h1{
	font-size: 57px;
	margin-bottom: 15px;
}
#section-01 span{
	font-size: 28px;
}

/* section 2 */
#section-02{
	margin-top: 90px;
	text-align: center;
}

#section-02 ul li{
	width: 230px;	
	display: inline-block;	
}

#section-02 ul li div{
	width: 170px;
	height: 170px;
	background: #959595;
	position: relative;
	margin: 0 auto;
}

#section-02 ul li span{
	font-size: 37px;
	margin-top: 15px;
	display: inline-block;
}
#section-02 ul li p{
	font-size: 15px;
	color: #888;
}

/* section 3 */
#section-03{
	background: #f1483c;
	color: #fff;
	padding: 50px 0;
	margin-top: 40px;
}

#section-03 h2, #section-03 p{
	max-width: 770px;
	margin: 0 auto;
}
#section-03 h2{
	font-size: 47px;
	border-bottom: 7px solid #fff;
	padding-bottom: 27px;
	margin-bottom: 27px;	
}
#section-03 p{
	font-size: 23px;
}

/* section 4 */
#section-04{
	margin: 60px 0;
}

.carousel-box{
	float: left;	
	width: 258px;
	background: #fff;
	margin-left: 40px;	
	display: inline-block;
	border: 1px solid #dcdcdc;
	-webkit-box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.07);
	-moz-box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.07);
	box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.07);	
	text-align: center;
	padding: 5px 20px 15px 20px;	
}

.carousel-box span{
	display: inline-block;
	width: 100%;
	color: #98bf11;
	font-size: 21px;
}

.carousel-box span b{
	font-size: 104px;	
}
.carousel-box span:nth-child(2){
	color: #848484;
	border-top: 1px solid #98bf11;
	border-bottom: 2px solid #98bf11;
	padding: 7px 0;
}

.carousel-box ul{
	padding: 0;
	margin-top: 25px;
}
.carousel-box ul li{
	text-align: left;
	color: #848484;
	font-size: 14px;
	color: #848484;
}

.carousel-box button{
	margin-top: 20px;
	background: #98bf11;
	color: #fff;
	border: none;
	outline: none;
	font-size: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 25px;
	cursor: pointer;
}











